<template>
  <div class="feed">

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Questions For You
          </h1>
          <h2 class="subtitle">
            Always learning.
          </h2>
        </div>
      </div>
    </section>

    <section class="section q-for-you">
      <ul class="q-list">

      </ul>
    </section>

    <section class="section topics">
      <div class="columns">
        <div class="column is-flex" v-for="topic in topics">
          <div class="card is-flex" style="flex-direction: column">

            <div class="card-content" style="overflow:hidden">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="heading is-5">{{ topic.name }}</p>
                  <p class="subtitle is-7">{{ topic.num_follow }} Following</p>
                </div>
              </div>
              <div class="content is-small">
                <p>{{ topic.description }}</p>
              </div>
            </div>

            <footer class="card-footer" style="margin-top:auto">
              <a class="card-footer-item">
                <router-link
                  :to="{ name: 'topic', params: { topic: topic } }">
                  View
                </router-link>
              </a>
              <a class="card-footer-item">Follow</a>
            </footer>

          </div>
        </div>
      </div>
    </section>

    <section class="section q-discover">
      <ul class="q-list">

      </ul>
    </section>

  </div>
</template>

<script type="text/javascript">
import { mapState, mapActions} from 'vuex';

export default {
  mounted() {
    this.init();
  },
  computed: mapState('topics', ['topics']),
  methods: mapActions('topics', ['init']),
};
</script>
