<template>
  <div class="home">
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body is-flex is-hcenter">
        <div class="card">
          <div class="card-content">
            <header class="content has-text-centered">
              <h1 class="title is-spaced">
                MyWenti
              </h1>
              <h2 class="subtitle is-size-6">
                A place for youth to share experiences, seek improvement, and learn together.
              </h2>
            </header>
            <div class="columns">
              <div class="column q-list">
                <div class="content">
                  <h3 class="title is-size-6">
                    Trending Q&A
                  </h3>
                </div>
                <ul class="q-home">
                  <article class="media" v-for="i in 2">
                    <figure class="media-left">
                      <p class="image is-48x48">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                      </p>
                    </figure>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>John Smith </strong>
                          <small>#Student</small>
                          <br>
                          <small>What are the most viewed questions about high school life?</small>
                        </p>
                      </div>
                      <div class="level is-mobile">
                        <div class="level-left">
                          <div class="level-item">
                            <small class="is-size-7">
                              123 Viewed Answer
                              <b-icon
                                  icon="eye"
                                  size="is-small">
                              </b-icon>
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="media-right">
                      <small class="is-size-7">
                        320 Hearts
                        <b-icon
                            icon="heart"
                            size="is-small">
                        </b-icon>
                      </small>
                    </div>
                  </article>
                </ul>
              </div>
              <div class="column">
                <div class="buttons">
                  <a class="button is-info is-fullwidth is-medium">
                    Join Now
                  </a>
                  <a class="button is-info is-fullwidth is-outlined" @click="login()">
                    Continue with Google
                  </a>
                  <a class="button is-info is-fullwidth is-outlined" @click="login()">
                    Login with Phone Number
                  </a>
                  <a class="button is-info is-fullwidth is-outlined" @click="login()">
                    Login with Email
                  </a>
                </div>
              </div>
            </div>
          </div>
          <footer class="card-footer content is-small">
            <a href="#" class="card-footer-item">About</a>
            <a href="#" class="card-footer-item">Languages</a>
            <a href="#" class="card-footer-item">FAQ</a>
            <a href="#" class="card-footer-item">Privacy</a>
            <a href="#" class="card-footer-item">Terms</a>
            <a href="#" class="card-footer-item">Contact</a>
          </footer>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'home',
};
</script>
