<template>
  <div class="space-topic">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{$route.params.topic.name}}
          </h1>
          <h2 class="subtitle is-6">
            {{$route.params.topic.description}}
          </h2>
        </div>
      </div>
      <div class="hero-footer">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li class="is-active"><a>Q&A</a></li>
              <li><a>Aces</a></li>
              <li><a>Mentors</a></li>
              <li><a>Followers</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>

    <section class="section q-list">
      <ul class="q-topic">
        <article class="media" v-for="i in 6">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>John Smith </strong>
                <small>Student</small>
                <br>
                What are the most viewed questions about high school life?
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <b-icon
                      icon="account"
                      size="is-small">
                  </b-icon>
                </a>
                <a class="level-item">
                  <b-icon
                      icon="account"
                      size="is-small">
                  </b-icon>
                </a>
                <a class="level-item">
                  <b-icon
                      icon="account"
                      size="is-small">
                  </b-icon>
                </a>
              </div>
            </nav>
          </div>
          <div class="media-right">
            <button class="delete"></button>
          </div>
        </article>
      </ul>
    </section>

  </div>
</template>


<script type="text/javascript">
import { mapState, mapActions} from 'vuex';

export default {
  mounted() {
    // this.init();
  },
  computed: mapState('topics', ['topics']),
  methods: mapActions('topics', ['init']),
};
</script>
